# ==========================
# Node.js
# ==========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================
# Environment variables
# ==========================

.env
.env.*
!.env.example

# ==========================
# Logs
# ==========================

logs/
*.log

# ==========================
# Build
# ==========================

dist/
build/
coverage/

# ==========================
# VS Code
# ==========================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Temporary files
# ==========================

tmp/
temp/
.cache/

# ==========================
# IDE
# ==========================

.idea/

# ==========================
# Misc
# ==========================

*.swp
*.swo